{% extends 'base.html' %}
{% block body %}
{% if melon_list %}
<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
    {% for melon in melon_list %}
    <tr>
        <td>{{ melon.common_name }}</td>
        <td><!-- quantity --></td>
        <td>{{ melon.price }}</td>
        <td><!-- quantity * price --></td>
    </tr>
    {% endfor %}
</table>
<h3>Total: $27.00</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endif %}
{% endblock %}
